.wc1{
font-size:10px;
}
.wc2{
font-size:14px;
}
.wc3{
font-size:20px;
}
.wc4{
font-size:24px;
}
.wc5{
font-size:30px;
}
.wc6{
font-size:34px;
}
.wc7{
font-size:40px;
}
.wc8{
font-size:44px;
}
.wc9{
font-size:50px;
}
.wc10{
font-size:54px;
}
.wcstat1 {
    color: green;
}
.wcstat2 {
    color: red;
}
.wcstat0{
color:#666;
}
.wcstat3{
color:#000000;
}
