<script type="text/javascript">
	var page = "main";
	var page_detail = "";
</script>
<div class="body-content">
	<span class="fgrey" style="font-size:12px;margin:10px 0 0 2px;">You have {$projectActive} active project. Click on each campaign type to view it's progress</span>
	{section name=i loop=$projectList}
	<div class="body-project relative">		
		<div class="box-project flLeft relative">
			<span>
				<span class="absolute" style="top:5px;left:10px;">{$projectList[i].name|stripslashes}</span>
				<span class="fgrey arial absolute" style="font-size:11px;top:25px;left:10px;">
				{if $projectList[i].seo == 1}
				SEO optimization on {$projectList[i].cname|stripslashes} Youtube Channel
				{elseif $projectList[i].sem == 1}
				{$projectList[i].description}
				{/if}
				</span>
			</span>
			<span class="absolute arial" style="top:15px;right:10px; font-size: 11px;">
				{$projectStatus[i]}
			</span>
		</div>
		<div class="project-status flRight">
			<div class="statusNon flRight {if $tabSocial[i] eq 'Active'}statusActive{elseif $tabSocial[i] eq 'Completed'}statusCompleted{/if}" style="margin-left:10px">{if $tabSocial[i] != 'None'}<a href="index.php?s=social&id={$projectList[i].id}" class="link-project">SOCIAL</a>{else}SOCIAL{/if}</div>
			<div class="statusNon flRight {if $tabSEM[i] eq 'Active'}statusActive{elseif $tabSEM[i] eq 'Completed'}statusCompleted{/if}" style="margin-left:10px">{if $tabSEM[i] != 'None'}<a href="index.php?s=sem&id={$projectList[i].id}" class="link-project">SEM</a>{else}SEM{/if}</div>
			<div class="statusNon flRight {if $tabSEO[i] eq 'Active'}statusActive{elseif $tabSEO[i] eq 'Completed'}statusCompleted{/if}">{if $tabSEO[i] != 'None'}<a href="index.php?s=seo&id={$projectList[i].id}" class="link-project">SEO</a>{else}SEO{/if}</div>
		</div>
		<div class="project-start arial flLeft fgrey2">Started on: {$projectList[i].mulai}</div>
		<div class="project-start arial absolute fgrey2" style="bottom:16px;right:-10px;"> Last update: {$lastUpdate[i].lastUpdate}</div>
		<div class="project-label arial flRight">
			<div class="labelNon flRight {if $tabSocial[i] eq 'Active'}labelActive{elseif $tabSocial[i] eq 'Completed'}labelGreen{/if}" style="margin-left:10px">{$tabSocial[i]}</div>
			<div class="labelNon flRight {if $tabSEM[i] eq 'Active'}labelActive{elseif $tabSEM[i] eq 'Completed'}labelGreen{/if}" style="margin-left:10px">{$tabSEM[i]}</div>
			<div class="labelNon flRight {if $tabSEO[i] eq 'Active'}labelActive{elseif $tabSEO[i] eq 'Completed'}labelGreen{/if}" style="margin-left:10px">{$tabSEO[i]}</div>
		</div>
	</div>
	{/section}
</div>