<script type="text/javascript">
	var page = "project";
</script>
<div id="mainDash" class="body-content">
	<div id="overall">
    	<div class="box firstBox">
        	<span>Returning Visitor</span>
            <h1>15%</h1>
        </div>
    	<div class="box">
        	<span>Bounce Rate</span>
            <h1>35%</h1>
        </div>
    	<div class="box">
        	<span>Twitter Share</span>
            <h1>5000</h1>
        </div>
    	<div class="box">
        	<span>Facebook Share</span>
            <h1>3000</h1>
        </div>
    	<div class="box">
        	<span>Paid Content Clicks</span>
            <h1>750</h1>
        </div>
    	<div class="box lastBox">
        	<span>Free Content Clicks</span>
            <h1>255</h1>
        </div>
    </div>
	<div class="body-content-head">
		<h1 class="flLeft" style="font-size:20px; margin:0;">DAILY DATA</h1>
		<div class="shortBox">	
            <span class="labels">SORT BY</span>
			<div class="selectDropdown dropdown">
                <select name="d" class="styled">
                  <option value="1">REGISTERED</option>
                  <option value="2">UNIQUE</option>
                  <option value="3">ORGANIC</option>
                  <option value="3">STATUS</option>
                  <option value="3">PICTURES</option>
                </select>
			</div><!-- end.selectDropdown -->
         </div><!-- end.shortBox -->
	</div><!-- end.body-content-head -->
	<div id="dailyData"></div>
	<div class="body-content-head">
		<h1 class="flLeft" style="font-size:20px; margin:0;">WEEKLY DATA</h1>
		<div class="shortBox">	
            <span class="labels">SORT BY</span>
			<div class="selectDropdown dropdown">
                <select name="d" class="styled">
                  <option value="1">Monday</option>
                  <option value="2">Sunday</option>
                  <option value="3">Thursday</option>
                  <option value="3">Wednesday</option>
                  <option value="3">Tuesday</option>
                </select>
			</div><!-- end.selectDropdown -->
         </div><!-- end.shortBox -->
	</div><!-- end.body-content-head -->
    <div class="clear">
        <div id="weeklyWinner" class="boxGrey">
        	<h1>Weekly Winner</h1>
            <div class="row">
            	<a href="#" class="thumbs"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/274574_100003979161374_2140841867_q.jpg" /></a>
                <div class="entry">
                	<h4><a href="#">Username</a></h4>
                    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                </div>
            </div><!-- end.row -->
            <div class="row">
            	<a href="#" class="thumbs"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/274574_100003979161374_2140841867_q.jpg" /></a>
                <div class="entry">
                	<h4><a href="#">Username</a></h4>
                    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                </div>
            </div><!-- end.row -->
            <div class="row">
            	<a href="#" class="thumbs"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/274574_100003979161374_2140841867_q.jpg" /></a>
                <div class="entry">
                	<h4><a href="#">Username</a></h4>
                    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                </div>
            </div><!-- end.row -->
            <div class="row">
            	<a href="#" class="thumbs"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/274574_100003979161374_2140841867_q.jpg" /></a>
                <div class="entry">
                	<h4><a href="#">Username</a></h4>
                    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                </div>
            </div><!-- end.row -->
            <div class="row">
            	<a href="#" class="thumbs"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/274574_100003979161374_2140841867_q.jpg" /></a>
                <div class="entry">
                	<h4><a href="#">Username</a></h4>
                    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                </div>
            </div><!-- end.row -->
        </div><!-- end.boxGrey -->
        <div id="top5User" class="boxGrey last">
        	<h1>TOP 5 USER</h1>
            <div class="row">
            	<a href="#" class="thumbs"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/274574_100003979161374_2140841867_q.jpg" /></a>
                <div class="entry">
                	<h4><a href="#">Username</a></h4>
                    <p>1300 Points.</p>
                </div>
            </div><!-- end.row -->
            <div class="row">
            	<a href="#" class="thumbs"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/274574_100003979161374_2140841867_q.jpg" /></a>
                <div class="entry">
                	<h4><a href="#">Username</a></h4>
                    <p>12300 Points.</p>
                </div>
            </div><!-- end.row -->
            <div class="row">
            	<a href="#" class="thumbs"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/274574_100003979161374_2140841867_q.jpg" /></a>
                <div class="entry">
                	<h4><a href="#">Username</a></h4>
                    <p>7300 Points.</p>
                </div>
            </div><!-- end.row -->
            <div class="row">
            	<a href="#" class="thumbs"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/274574_100003979161374_2140841867_q.jpg" /></a>
                <div class="entry">
                	<h4><a href="#">Username</a></h4>
                    <p>4300 Points.</p>
                </div>
            </div><!-- end.row -->
            <div class="row">
            	<a href="#" class="thumbs"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/274574_100003979161374_2140841867_q.jpg" /></a>
                <div class="entry">
                	<h4><a href="#">Username</a></h4>
                    <p>2300 Points.</p>
                </div>
            </div><!-- end.row -->
        </div><!-- end.boxGrey -->
    </div><!-- end.clear -->
    <div class="clear">
        <div id="weeklyWinner" class="boxGrey">
        	<h1>MOST CLICKED CONTENT</h1>
            <h3>Free</h3>
            <ol>
            	<li>posuere erat a ante venenatis dapibus</li>
            	<li>posuere erat a ante venenatis dapibus</li>
            	<li>posuere erat a ante venenatis dapibus</li>
            	<li>posuere erat a ante venenatis dapibus</li>
            	<li>posuere erat a ante venenatis dapibus</li>
            </ol>
            <h3>Paid</h3>
            <ol>
            	<li>posuere erat a ante venenatis dapibus</li>
            	<li>posuere erat a ante venenatis dapibus</li>
            	<li>posuere erat a ante venenatis dapibus</li>
            	<li>posuere erat a ante venenatis dapibus</li>
            	<li>posuere erat a ante venenatis dapibus</li>
            </ol>
        </div><!-- end.boxGrey -->
        <div id="top5User" class="boxGrey last">
        	<h1>MAXIMUM NUMBER OF PEOPLE ONLINE</h1>
        </div><!-- end.boxGrey -->
    </div><!-- end.clear -->
    
   
</div>